<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Stranica ne postoji.</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Stranica koju ste tražili ne postoji. Vrati se na <a href="/">početnu stranicu.</a></p>
        </LayoutView>
    </NotFound>
</Router>
