@page "/client/create"
@page "/client/edit/{id:int}"


@inject ClientModel Client;
@inject NavigationManager NavigationManager;

@inherits OwningComponentBase<IClientRepository>


<PageTitle>@pageTitle</PageTitle>

<RadzenCard>
    <h2 hidden="@isFormTitleHidden"><b>@Client.CompanyName</b></h2>
    <EditForm Model="@Client" OnValidSubmit="SaveClient" class="w-100">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group row">
            <label>Ime tvrtke</label>
            <RadzenTextBox @bind-Value="Client.CompanyName" class="mb-4" />
        </div>

        <div class="form-group row">
            <label>OIB</label>
            <RadzenTextBox @bind-Value="Client.TaxNumber" class="mb-4" />
        </div>

        <div class="form-group row">
            <label>Grad</label>
            <RadzenTextBox @bind-Value="Client.City" class="mb-4" />
        </div>

        <div class="form-group row">
            <label>Adresa</label>
            <RadzenTextBox @bind-Value="Client.Address" class="mb-4" />
        </div>

        <div class="form-group row">
            <label>Kontakt osoba</label>
            <RadzenTextBox @bind-Value="Client.ContactPerson" class="mb-4" />
        </div>

        <div class="form-group row">
            <label>Kontakt telefon</label>
            <RadzenTextBox @bind-Value="Client.PhoneNumber" class="mb-4" />
        </div>

        <RadzenButton type="submit" Text="Spremi" ButtonStyle="ButtonStyle.Secondary" />
        
        <NavLink href="@BackToClients">
            <RadzenButton Text="Odustani" />
        </NavLink>
    </EditForm>

</RadzenCard>

@code {
    public IClientRepository Repository => Service;

    [Parameter]
    public int Id { get; set; } = 0;

    string pageTitle = "";
    public bool isFormTitleHidden = true;



    protected override void OnParametersSet()
    {
        Client = Repository.Clients.FirstOrDefault(c => c.Id == Id) ?? new();

        if (Id != 0)
        {
            pageTitle = "Uredi klijenta";
            isFormTitleHidden = false;
        } 

    }


    private void SaveClient()
    {
        if (Id == 0)
        {
            Repository.CreateClient(Client);
        }
        else
        {
            Repository.SaveClient(Client);
        }
        NavigationManager.NavigateTo("clients");
    }


    public string BackToClients => $"/clients";

}
