@page "/spareParts"

@inject SparePartModel SparePart;
@inject DialogService DialogService
@inject NavigationManager NavigationManager

@inherits OwningComponentBase<ISparePartRepository>


<PageTitle>Rezervni dijelovi</PageTitle>

<NavLink href="@CreateNewSparePart" class="btn mb-4">
    <RadzenButton Text="Novi rezervni dio" ButtonStyle="ButtonStyle.Secondary" />
</NavLink>


@*<RadzenButton Text="Open dialog" ButtonStyle="ButtonStyle.Secondary" Click=@OpenOrder />*@

@if (SparePartsData?.Count() > 0)
{
    <RadzenDataList WrapItems="true" AllowPaging="true" Data="@SparePartsData" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
        <Template Context="sparePart">
            <RadzenCard class="mb-2">
                <div class="container">
                    <div class="row">
                        <h3 class="col-lg-3">
                            @(sparePart.Code)
                        </h3>
                        <div class="col-lg-7">
                            <div class="row d-flex">
                                <div class="col-md-6 col-lg-2 mb-2">
                                    <b><p class="mb-sm-2 mb-lg-0">@(sparePart.Description)</p></b>
                                </div>
                                <div class="col-md-6 col-lg-5 mb-2">
                                    <b><label class="mb-0">Količina</label></b>
                                    <p class="mb-sm-2 mb-lg-0">@(sparePart.Quantity)</p>
                                </div>
                                <div class="col-md-6 col-lg-5 mb-2">
                                    <b><label class="mb-0">Cijena</label></b>
                                    <p class="mb-0 mb-lg-0">@(sparePart.PriceWithoutVAT) kn (vpc)</p>
                                    <b><p class="mb-sm-2 mb-lg-0">@(sparePart.PriceWithVAT) kn (mpc)</p></b>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 p-1">
                            <NavLink class="btn btn-warning" href="@EditSparePart(sparePart.Id)">Uredi</NavLink>
                        </div>
                    </div>
                </div>
            </RadzenCard>
        </Template>
    </RadzenDataList>
} else
{
    <p>Učitavanje podataka...</p>
}



@code {
    private ISparePartRepository Repository => Service;

    public IEnumerable<SparePartModel> SparePartsData { get; set; } = Enumerable.Empty<SparePartModel>();


    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }


    public async Task UpdateData()
    {
        SparePartsData = await Repository.SpareParts.ToListAsync();
    }


    public string CreateNewSparePart => $"/sparePart/create";

    public string EditSparePart(int id) => $"/sparePart/edit/{id}";



    // RadzenDialog Demo
    //public int orderID = 12345;

    //public async Task OpenOrder()
    //{
    //    await DialogService.OpenAsync<Clients>($"Order {orderID}", null, null);
    //}


}
