@page "/sparePart/create"
@page "/sparePart/edit/{id:int}"


@inject SparePartModel SparePart;
@inject NavigationManager NavigationManager;

@inherits OwningComponentBase<ISparePartRepository>


<PageTitle>@pageTitle</PageTitle>

<RadzenCard>
    <h2 hidden="@isFormTitleHidden"><b>@SparePart.Code (@SparePart.Description)</b></h2>
    <EditForm Model="@SparePart" OnValidSubmit="SaveSparePart" class="w-100">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group row">
            <label>Šifra</label>
            <RadzenTextBox @bind-Value="SparePart.Code" class="mb-4" />
        </div>

        <div class="form-group row">
            <label>Opis</label>
            <RadzenTextBox @bind-Value="SparePart.Description" class="mb-4" />
        </div>

        <div class="form-group row">
            <label>Količina</label>
            <RadzenNumeric ShowUpDown="false" @bind-Value="SparePart.Quantity" class="mb-4" disabled="@isQuantityDisabled"/>
        </div>

        <div class="form-group row">
            <label>Cijena VPC</label>
            <RadzenNumeric ShowUpDown="false" @bind-Value="SparePart.PriceWithoutVAT" class="mb-4" />
        </div>

        <RadzenButton type="submit" Text="Spremi" ButtonStyle="ButtonStyle.Secondary" />
        
        <NavLink href="@BackToSpareParts">
            <RadzenButton Text="Odustani" />
        </NavLink>
    </EditForm>
</RadzenCard>

@code {
    public ISparePartRepository Repository => Service;

    [Parameter]
    public int Id { get; set; } = 0;

    string pageTitle = "Novi rezervni dio";
    public bool isQuantityDisabled = false;
    public bool isFormTitleHidden = true;


    protected override void OnParametersSet()
    {
        SparePart = Repository.SpareParts.FirstOrDefault(sp => sp.Id == Id) ?? new();

        if (Id != 0)
        {
            pageTitle = "Uredi rezervni dio";
            isFormTitleHidden = false;
            isQuantityDisabled = true;
        } 

    }


    private void SaveSparePart()
    {
        if (Id == 0)
        {
            CalculatePriceWithVAT();
            Repository.CreateSparePart(SparePart);
        }
        else
        {
            Repository.SaveSparePart(SparePart);
        }
        NavigationManager.NavigateTo("spareParts");
    }


    private string BackToSpareParts => $"/spareParts";


    private void CalculatePriceWithVAT()
    {
        decimal tax = VAT.VATvalue;
        SparePart.PriceWithVAT = (SparePart.PriceWithoutVAT * tax) + SparePart.PriceWithoutVAT;
    }


}
