@page "/workOrder/create"
@page "/workOrder/edit/{id:int}"

@inject WorkOrderModel WorkOrder;
@inject ClientModel Client;
@inject NavigationManager NavigationManager;
@inject DialogService DialogService

@inherits OwningComponentBase


<PageTitle>@pageTitle</PageTitle>

<RadzenCard>
    <EditForm Model="@WorkOrder" OnValidSubmit="SaveWorkOrder" class="w-100">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group row mb-4">
            <label>Broj Naloga</label>
            <RadzenNumeric ShowUpDown="false" Value="@workOrderNumber" Disabled/>
        </div>

        <div class="form-group row mb-4">
            <label>Datum</label>
            <RadzenTextBox Value="@workOrderDate.ToShortDateString()"  Disabled></RadzenTextBox>
        </div>

        <div class="form-group row mb-4">
            <label>Klijent</label>
            <div class="row">
                <div class="col p-0">
                    <RadzenTextBox class="w-100" Value="@Client.CompanyName" Disabled></RadzenTextBox>
                </div>
                <div class="col">
                    <RadzenButton Text="..." ButtonStyle="ButtonStyle.Secondary" Click=@SelectClient />
                </div>
            </div>
        </div>

        <div class="form-group row mb-4">
            <label>Status naloga</label>
            <RadzenDropDown AllowClear="true" TValue="string" Data=@WorkOrderStatus.WorkOrderStatusList @bind-Value="WorkOrder.WorkOrderStatus" Placeholder="Odaberi status..."/>
        </div>

        <div class="form-group row mb-4">
            <label>Opis posla</label>
            <RadzenTextArea @bind-Value="WorkOrder.WorkDescription"></RadzenTextArea>
        </div>


        <RadzenButton type="submit" Text="Spremi" ButtonStyle="ButtonStyle.Secondary" />
        
        <NavLink href="@BackToWorkOrders">
            <RadzenButton Text="Odustani" />
        </NavLink>
    </EditForm>
</RadzenCard>



@code {
    string pageTitle = "";
    private int workOrderNumber;
    private DateTime workOrderDate;

    public IWorkOrderRepository? WorkOrderRepo;
    public IClientRepository? ClientRepo;

    public IEnumerable<WorkOrderModel> WorkOrderData { get; set; } = Enumerable.Empty<WorkOrderModel>();

    [Parameter]
    public int Id { get; set; } = 0;


    protected override void OnInitialized()
    {
        DialogService.OnClose += Close;

        WorkOrderRepo = ScopedServices.GetService<IWorkOrderRepository>();
        ClientRepo =  ScopedServices.GetService<IClientRepository>();

        WorkOrderData = WorkOrderRepo.WorkOrders.ToList();
        workOrderNumber = WorkOrderData.Count() + 1;

        workOrderDate = DateTime.Now.Date;
    }


    protected override void OnParametersSet()
    {
        WorkOrder = WorkOrderRepo.WorkOrders.FirstOrDefault(wo => wo.Id == Id) ?? new();

        pageTitle = (Id == 0) ? "Novi radni nalog" : "Uredi radni nalog";
    }


    #region RadzenDialog
    public void Dispose()
    {
        // The DialogService is a singleton so it is advisable to unsubscribe.
        DialogService.OnClose -= Close;
    }


    void Close(dynamic result)
    {
        GetClientFromDialog(result);
    }


    private async Task GetClientFromDialog(int selectedClientId)
    {
        Client = await ClientRepo.Clients.FirstOrDefaultAsync(c => c.Id == selectedClientId) ?? new();
        WorkOrder.Client = Client;
        StateHasChanged();
    }
    #endregion RadzenDialog


    private void SaveWorkOrder()
    {
        if (Id == 0)
        {
            WorkOrder.WorkOrderNumber = workOrderNumber;
            WorkOrder.Date = workOrderDate;

            WorkOrderRepo.CreateWorkOrder(WorkOrder);
        }
        else
        {
            WorkOrderRepo.SaveWorkOrder(WorkOrder);
        }
        NavigationManager.NavigateTo("workOrders");
    }


    public string BackToWorkOrders => $"/workOrders";


    public async Task SelectClient()
    {
        await DialogService.OpenAsync<SelectClientDialog>($"Odaberi klijenta", null, new DialogOptions() { Width="80vw", Height="80vh", Resizable = true });
    }
}
